@font-face {
   font-family: font;
   src: url(avenir/regular.otf);
}


article,nav,header{
	margin-left: 10%;
	margin-right: 10%;
	background-color: white;
	
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1%;
	padding-bottom: 3%;
}

canvas{
	width: 60%;
	margin-right: 40%;
	margin-top: 5%;
}
button{
	border: 1px solid #333;
	font: 100 1em "font";
	margin-top: 1%;
	padding: 1%;
	width: 60%;
}

.language-js{
	white-space: pre-wrap;
}

h2{
	text-align: left;
	
	font: 300 2em "font";
	padding-bottom:2%;
}
h1{
	text-align: left;
	margin-top: 10%;
	
	font: 300 4em "font";
	padding-bottom:2%;
}
p{
	font: 100 1em "font";
}

footer{
	background-color: white;
	width: 100%;
	margin: 0%;
	margin-top: 2%;
	height: 100%;
	height: 70px;
	padding-bottom: 5%;
	padding-top: 1%;
	text-align: center;
	text-transform: capitalize;
	border-top: 1px solid #edf0f5;
	font: 100 1em "font";
}
a{
		text-decoration: none;
		color: #dd72f4;
	}
a:hover{
	text-decoration: underline;
	color: #be47d8;
}

body{
	margin: 0;
	background-color: #F5F7FA;
	font: 300 1em "font";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1%;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    z-index: 1;
    left:0;
    top: 0;
    width: 100%;
}

.li2 {
    text-decoration: none;
    float: left;
    width: 16.6666666667%;
    
}

.li2 .nA {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.li2 .nA:hover {
    background-color: #111;
    text-decoration: none;
    font-style: normal;
    cursor:pointer;
}
h3{
	margin: 0;
	padding-top: 10px;
	font: 300 1.375em "font";
	text-align: center;
}
#i{
	margin-left: 20%;
	margin-right: 20%;
	
	padding-top: 20px;
	padding-bottom: 20px;
}
hr{
	color: #e4e4e4;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:80px;
	height:80px;
	border-radius:50%;
	margin-top: 20px;
}
.gen:active{
	color:magenta;
	border-color:magenta;
}
